# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
# 
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# 
# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

[mysql]
socket={{ mysql56_server_runtime_dir }}/mysqld.sock

[mysqld]
basedir={{ mysql56_installation_base_dir }}
datadir={{ mysql56_data_dir }}
socket={{ mysql56_server_runtime_dir }}/mysqld.sock
port={{ mysql56_server_port }}
user={{ mysql56_user }}
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

!includedir /etc/mysql/conf.d/