[Unit]
Description=Apache Tomcat 9 Web Application Server
Documentation=https://tomcat.apache.org/tomcat-9.0-doc/index.html
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User={{ catalina_base_owning_user }}
Group={{ catalina_base_owning_group }}
WorkingDirectory={{ catalina_base_tomcat_working_dir }}
ExecStart={{ catalina_base_root_dir }}/bin/startup.sh
ExecStop={{ catalina_base_root_dir }}/bin/shutdown.sh
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
