[Unit]
Description={{ catalina_base_systemd_unit_description }}
Documentation={{ catalina_base_systemd_unit_documentation }}
Wants=network-online.target
After=network-online.target

[Service]
Group={{ catalina_base_owning_group }}
ExecStart={{ catalina_base_root_dir }}/bin/startup.sh
ExecStop={{ catalina_base_root_dir }}/bin/shutdown.sh
EnvironmentFile={{ catalina_base_systemd_unit_environment_file_path }}
Restart=always
SuccessExitStatus=143
Type=forking
User={{ catalina_base_owning_user }}
WorkingDirectory={{ catalina_base_tomcat_working_dir }}

[Install]
WantedBy=multi-user.target
